/* style code here */
body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
/* navbar */
nav {
    margin-left: 130px;
}
nav>ul {
    display: flex;
    align-items: center;
    margin: 0;
}

nav li {
    list-style: none;
    margin-top: 42px;
    margin-right: 30px;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 0px;
    font-size: 16px;
}
.login{
    margin-left: 450px;
    background-color: #E02C6D;
    padding: 10px;
    border-radius: 5px;
}

.header-top{
    background-color:#2D25A0;
}
/* header area */

/* banner */
.banner{
    background-color:#2D25A0;
    display: flex;
    align-content: center;
}
.banner-left{
    width: 50%;
    margin-top: 30px;
    margin-left: 220px;
}
h1.title {
    color: white;
    font-size: 64px;
}
a.live-button {
    background-color: #E02C6D;
    text-decoration: none;
    padding: 12px 24px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
i.fas.fa-arrow-right {
    padding-left: 10px;
}
.banner-right{
    width: 50%;
    margin-right: 90px;
    margin-left: 30px;
}
.banner-right img{
    width: 556px;
    height: 438px;
    margin-top: 43px;
}
/* banner */

/* players */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 180px;
    margin-top: 50px;
    margin-right: 50px;
}

.single-player {
    width: 325px;
    height: 474px;
    padding: 15px;
    background-color: #FFFFFF;
    margin-top: 20px;
    box-shadow: 1px 5px 10px 1px #888888;
    border-radius: 5px;
}

img {
    width: 325px;
    height: 300px;
}
h3 {
    font-size: 28px;
}

/* players */

/* match-banner */
.match-banner{
    display: flex;
    align-content: center;
    margin-top: 30px;
}
h1.match-title {
    color: black;
    font-size: 55px;
}
p.match-deatils{
        font-size: 20px;
        margin-bottom: 40px;
        padding: 0;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.footer-logo img{
    width: 483px;
    height: 110px;
}
.footer-icons{
    display: flex;
    width: 170px;
    height: 32px;
}
.footer-icons img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
.footer p{
    font-size: 20px;
    color: black;
    margin-top: 30px;
}
